.subscription {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: flex-end;
  }
  .button.primary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 18px;
    max-height: 50px;

    .icon {
      margin-left: 10px;
    }
  }
}
.footer-label {
  display: flex;
  flex-direction: column;
}
.footer-input {
  margin-bottom: 20px;
  width: 100%;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;

  @media screen and (min-width: 768px){
  width: 450px;
  }
  @media screen and (min-width: 1200px) {
  width: 358px;
  margin-right: 12px;
  margin-bottom: 0;
  }
}
